@keyframes popupReveal {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1.15);
        opacity: 1;
    }
}

.popup-modal {
    

    &__overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: var(--color-black);
        opacity: 0.5;
        z-index: 2000;
    }

    &__content {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: var(--color-primary);
        box-shadow: var(--box-shadow);
        border-radius: 2rem;
        padding: 4rem;
        z-index: 2500;
        opacity: 0;
        transition: all .4s linear;
        pointer-events: none;     

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__svg {
        width: 20rem;
        height: 20rem;
    }

    &__heading {
        font-size: 2.5rem;
        margin-bottom: 3.5rem;
    }

    &__exit-icon {
        position: absolute;
        top: 2rem;
        right: 2.5rem;
        cursor: pointer;
        font-size: 3rem;
        transition: all .3s;

        &:hover {
            transform: scale(1.15);
            color: var(--color-red)
        }
    }
}

.popup-visible {

    & .popup-modal__overlay {
        display: block;
    }

    & .popup-modal__content {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        pointer-events: all;
    }
}