.sign-in-sign-up {
    
    &__page {
        height: 100vh;
        width: 100%;
        position: relative;
        overflow: hidden;

        @media only screen and (max-width: 1024px)  {
            min-height: 80rem;
            height: 100vh;
        }

        &::before {
            content: '';
            position: absolute;
            top: -100rem;
            right: 50%;
            width: 200rem;
            height: 200rem;
            background-color: var(--color-primary);
            border-radius: 50%;
            transition: all 1s ease-in-out;
            z-index: 20;

            @media only screen and (max-width: 1024px)  {
                display: none;
            }

            // @media only screen and (max-width: 800px)  {
            //     top: -150rem;
            //     left: 0;
            //     transform: translateX(-28%);
            // }

            // @media only screen and (max-width: 600px)  {
            //     display: none;
            // }

            // @media only screen and (max-width: 376px)  {
            //     top: -165rem;
            // }
        }

        & .home-logo {
            position: absolute;
            top: 2rem;
            left: 2rem;
            width: 6rem;
            height: 6rem;
            cursor: pointer;
            z-index: 100;
        }

        & .home-logo span {
            font-size: 3rem;
        }

        & .home-button {
            position: absolute;
            top: 3rem;
            right: 2rem;
            cursor: pointer;
            z-index: 100;

            @media only screen and (max-width: 600px)  {
                display: none;
            }
        }
    }

    &__container {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 75%;
        transform: translateX(-50%);
        display: grid;
        grid-template-columns: 1fr;
        z-index: 10;
        transition: all .5s .5s;

        @media only screen and (max-width: 1024px)  {
            transform: translateX(0);
            width: 100%;
            height: 50%;
            top: 50%;
            left: 0;
            justify-items: center;
        }
    }

    &__panels {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media only screen and (max-width: 1024px)  {
            height: 100%;
            grid-template-columns: 1fr;
        }

        @media only screen and (max-width: 600px)  {
            grid-template-rows: repeat(2, 1fr);
        }
        

        .panel {
            width: 100%;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            text-align: center;
            padding: 10rem;
            z-index: 30;

            @media only screen and (max-width: 600px)  {
                padding: 10rem 0;
            }

            &--left{
                pointer-events: all;

                @media only screen and (max-width: 1024px)  {
                    grid-row: 1 / 2 ;
                }

                @media only screen and (max-width: 600px)  {
                    padding: 0;
                }
            } 

            &--right{
                pointer-events: none;

                @media only screen and (max-width: 1024px)  {
                    grid-row: 2 / 3 ;
                }
            } 

            &__content{
                transition: all .6s .3s ease-in-out;
                margin-bottom: 5rem;

                @media only screen and (max-width: 1024px)  {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: var(--color-primary);
                }
                
                @media only screen and (max-width: 600px)  {
                    padding: 0 2rem;
                }

                &--left {
                    @media only screen and (max-width: 600px)  {
                        color: var(--color-primary);
                        padding: 0 2rem;
                    }
                }

                &--right {

                    @media only screen and (max-width: 600px)  {
                        margin-top: 3rem;
                        width: 100%;
                        justify-content: center;
                    }
                }

                
            }

            &__heading {
                font-size: var(--font-l);
            }

            &__text {
                margin: 1rem 0 2.5rem 0;
            }

            &__figure {
                transition: all .6s .5s ease-in-out;
                
                @media only screen and (max-width: 1024px)  {
                    display: none;
                }

                &--left {
                    width: 90%;
                    height: 60%;
                }

                &--right {
                    width: 90%;
                    height: 60%;

                    @media only screen and (max-width: 1024px)  {
                        width: 50%;
                        height: 50%;
                        margin-top: 0;
                        margin-bottom: 5rem;
                    }    
                }
            }
        }
    }
    
}


//mode = false && sign-in mode
.panel--right {
    
    &  .panel__content,
    &  .panel__figure {
        transform: translateX(200%);

        @media only screen and (max-width: 1024px)  {
            transform: translate(0, 500%);
        }
    }    
}

//mode = true && sign-up mode
.sign-up-mode {

    & .panel--left {
        pointer-events: none;
    }

    & .panel--right {
        pointer-events: all;

        @media only screen and (max-width: 1024px)  {
            z-index: 0;
        }
    }
    
    & .sign-in-sign-up__container {
        left: 25%;

        @media only screen and (max-width: 1024px)  {
            top: 0%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &  .panel__content--right,
    &  .panel__figure--right {
        transform: translate(0, 10%); 
    }
    
    &  .panel__content--left,
    &  .panel__figure--left {
        transform: translateX(-200%);

        @media only screen and (max-width: 1024px)  {
            transform: translate(0, -500%);
        }
        
    }
       
}

.sign-in-sign-up__page.sign-up-mode::before {
    transform: translateX(100%);

    @media only screen and (max-width: 1024px)  {
        transform: translate(-18%,115%);
    }

    @media only screen and (max-width: 800px)  {
        transform: translate(-25%,115%);
    }

    @media only screen and (max-width: 600px)  {
        transform: translate(-37%, 114%);
    }
}

.sign-up-mode .sign-in-sign-up__container .sign-in__form {
    opacity: 0;
    z-index: 0;
}

.sign-up-mode .sign-in-sign-up__container .sign-up__form {
    opacity: 1;
    z-index: 1;
}





