.navigation {
    display: none;
    overflow: hidden;

    @media only screen and (max-width: 600px ) {
       display: block;
    }

    &__button-container {
        position: fixed;
        top: 1.2rem;
        right: 2rem;
        z-index: 2000;
        height: 4.5rem;
        width: 4.5rem;
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        border-radius: 10rem;
        cursor: pointer;
        transition: all .5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__menu-button {
        background-color: var(--color-black);
        height: 3px;
        width: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;


        &::before,
        &::after {
            content: "";
            position: absolute;
            background-color: var(--color-black);
            height: 3px;
            width: 2.5rem;
            transition: all .3s ease;
        }

        &::before {
            transform: translateY(-1rem);
            
        }

        &::after {
            transform: translateY(1rem);
        }
    }

    &__background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-primary);
        z-index: 1000;
        transform: translateX(100%);
        transition: all .7s ease-in-out;
    }

    &__menu-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1500;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all .7s ease-in-out;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        font-size: 3rem;
        text-align: center;
        transform: translateX(100%);
        transition: all .7s ease-in-out;
    }

    &__item {
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: 4rem;      
        }
    }

    &__logout {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        &-icon {
            width: 3rem;
            height: 3rem;
        }

        & span {
            font-weight: bold;
            margin-left: 1.5rem;
        }
    }

    &__link {
        font-weight: 600;
    }

    &__search-icon {
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 3rem;
        height: 3rem;
        display: none;
    }
}

.navigation-active {

    .navigation__background,
    .navigation__menu-container,
    .navigation__menu {
        transform: translateX(0);
    }

    .navigation__menu-button {
        background-color: transparent;

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    .navigation__search-icon {
        display: block;
    }

    .navigation__button-container {
        background-color: var(--color-primary);
    }
}
