.cart-popup {

    &__container {
        position: fixed;
        z-index: 1500;
        left: 3%;
        bottom: -10%;
        background-color:rgba(30, 150, 252, 1);
        color: white;
        border-radius: 2.5rem;
        padding: 1rem 2.5rem;
        transition: all 0.5s ease-in-out; 
        display: flex;
        align-items: center;
        
        @media only screen and (max-width: 500px) {
            width: 85vw;
            left: 50%;
            transform: translateX(-50%);
        }

        @media only screen and (max-width: 320px) {
            bottom: -15%;
        }
    }

    &__symbol {
        font-size: 2rem;
        margin-right: 1.5rem;
        background-color: var(--color-green);
        color: var(--color-black);
        border-radius: 100%;
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__text {
        font-size: 2rem;
    }
}

.cart-popup--visible {

    & .cart-popup__container {
       transform: translateY(-10rem);

       @media only screen and (max-width: 500px) {
           transform:  translate(-50%, -300%);
       }

       @media only screen and (max-width: 380px) {
        transform:  translate(-50%, -150%);
    }
    }


}